[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
;action_warnings=True

# (path) The default root path for Ansible config files on the controller.
;home=~/.ansible

# (path) The password file to use for the become plugin. --become-password-file.
# If executable, it will be run and the resulting stdout will be used as the password.
;become_password_file=

# (path) The password file to use for the connection plugin. --connection-password-file.
;connection_password_file=

# (boolean) This controls whether an Ansible playbook should prompt for a vault password.
ask_vault_pass=False

# (string) This indicates the command to use to spawn a shell under for Ansible's execution needs on a target. Users may need to change this in rare instances when shell usage is constrained, but in most cases it may be left as is.
;executable=/bin/sh

# (integer) Maximum number of forks Ansible will use to execute tasks on target hosts.
;forks=5

# (pathlist) Comma separated list of Ansible inventory sources
inventory=hosts

# (pathspec) Colon separated paths in which Ansible will search for Roles.
roles_path=./roles

# (path) The vault password file to use. Equivalent to --vault-password-file or --vault-id
# If executable, it will be run and the resulting stdout will be used as the password.
;vault_password_file=

# (boolean) By default Ansible will issue a warning when there are no hosts in the inventory.
# These warnings can be silenced by adjusting this setting to False.
;localhost_warning=True

[privilege_escalation]
# (boolean) Toggles the use of privilege escalation, allowing you to 'become' another user after login.
become=True
