root=true

[*]
charset=utf-8
indent_size=4
indent_style=space
max_line_width=80
trim_trailing_whitespace=true

[*.{nix,cabal,hs}]
indent_size=2

[*.{json,js,jsx,ts,tsx,cjs,mjs}]
indent_size=2

[*.{yml,yaml,ml,mli,hl,md,mdx,html}]
indent_size=2

[CMakeLists.txt]
indent_size=2

[Makefile]
indent_style=tab
