* {
  font-family: "Hack Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #1d2021;
  color: #d4be98;
}

#workspaces {
}

#workspaces button {
  padding: 0px 11px 0px 11px;
  min-width: 1px;
  color: #888888;
}

#workspaces button.active {
  padding: 0px 11px 0px 11px;
  background-color: #32302f;
  color: #d8a657;
}

#window {
  color: #d4be98;
  padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: #323232;
}

#network,
#temperature,
#backlight,
#pulseudio,
#battery {
  padding: 0px 15px 0px 15px;
}

#clock {
  margin: 0px 15px 0px 15px;
}

#tray {
  padding: 0px 8px 0px 5px;
  margin: 0px 5px 0px 5px;
}

#battery.critical {
  color: #ff5555;
}

#network.disconnected {
  color: #ff5555;
}
